{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>سامانه ثبت زائر</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{% static 'guest/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'guest/css/bootstrap-rtl.min.css' %}"/>
    <!--<link rel="stylesheet" href="https://cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">-->
</head>
<body>
{% block contents %}
{% endblock %}

{% block static %}
{% endblock %}
</body>
</html>