{% load convert_data %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="{% static 'guest/css/print.css' %}">
</head>
<body>
{% if object.profile_picture %}
<div class="img-section">
    <img src="{{object.profile_picture.url}}" class="profile">
</div>
<div class="container">
    <div>
        <p class="name"><span class="title"></span><span class="detail">{{object.first_name}} {{object.last_name}}</span></p>
    </div>
    <div class='third-row'>
        <p class="third-detail">
            <!--<span class="detail"></span>-->
            <span class="title">{{object.passport_code|slice:"1:"}} </span>
            <span class="detail"></span>
            <span class="title">{% convert object.first_enter_datetime %}</span>
        </p>
    </div>
    <div class='forth-row'>
        <p><span class="title"></span> {{object.bed.type_index}}، <span class="title"></span> {{object.bed.tent.title}}</p>
    </div>
</div>
<div>
    <div>
        <img src="/{{object.barcode}}" class="barcode">
    </div>
</div>
{% else %}
<center>
    <p>Not Enough details provided</p>
</center>
{% endif %}
</body>
</html>
