{% extends 'guest/base.html' %}
{% block contents %}
    <div class="container">
        <div class="row">
            <div class=".col-md-12">
                <h1>اطلاعات ثبت شده در سامانه</h1>
                <p>نام: {{ object.first_name }}</p>
                <p>نام خانوادگی: {{ object.last_name }}</p>
                <p>شماره گذرنامه: {{ object.passport_code }}</p>

                <p>شماره موبایل: {{ object.mobile_number }}</p>
                <p>زمان ثبت اطلاعات: {{ object.created_at }}</p>
            </div>
        </div>
    </div>

{% endblock %}