{% extends 'guest/base.html' %}
{% load staticfiles %}
{% block contents %}

    <br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h4 class="text-warning">وارد کردن تمامی فیلدها الزامی است</h4>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group" >
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.first_name.errors }}
                            {{ form.first_name.label }}
                            {{ form.first_name }}
                        </div>
                        <div class="form-group">
                            {{ form.last_name.errors }}
                            {{ form.last_name.label }}
                            {{ form.last_name }}
                        </div>
                        <div class="form-group">
                            {{ form.passport_code.errors }}
                            {{ form.passport_code.label }}
                            {{ form.passport_code }}
                        </div>
                        <div class="form-group">
                            {{ form.mobile_number.errors }}
                            {{ form.mobile_number.label }}
                            {{ form.mobile_number }}
                            <p class="text-info">مثال: 09121234567</p>
                        </div>
                        <button class="btn btn-primary" type="submit" id="myBtn">ارسال</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block static %}
                    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                    <script>
                        $( "#id_state" ).change(
                            function (state_id) {
                            console.log("function init")
                            var l = window.location
                            var baseUrl = l.protocol + "//" + l.host + "/" + l.pathname.split('/')[1];
                            var path = baseUrl + "api/get_cities" + "/" + this.value + "/";
                            $.ajax({url: path, success: function(cities){
                                $("#id_city").html("");
                                    for (i = 0; i < cities.length; i++) {
                                        $("#id_city").append("<option value='" + cities[i].id + "'>" + cities[i].city_name + "</option>");
                                    }
                            }
                        });
                        });
                    </script>
{% endblock %}