{% extends 'guest/base.html' %}
{% block contents %}
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <p class="text-info">
                    کد ملی را برای چاپ دوباره وارد کنید
                </p>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" name="search"
                               id="search">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button"
                                onclick="window.open(
                                    document.getElementById('search').value);">چاپ
                        </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>کد ملی</th>
                            <th>چاپ</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.first_name }}</td>
                            <td>{{ object.last_name }}</td>
                            <td>{{ object.national_code }}</td>
                            <td>
                                <a target="_blank" class="btn btn-info" role="button" href="{% url 'card_detail' national_code=object.national_code %}">چاپ</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}