@font-face {
  font-family: Vazir;
  src: url(../font/vazir/Vazir.ttf);
}
@font-face {
  font-family: irsans;
  src: url(../font/iransans/IRANSans.ttf);
}
body{
  font-family: irsans, Vazir !important;
}
td, th, input, textarea, select, .form-row p, form .button, code, pre {
  font-family: irsans, Vazir, "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}
.vIntegerField {
    width: 10em;
}