@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Vazir.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Vazir.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Vazir.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Vazir.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Zar';
    src: url('../fonts/Zar.ttf') format('truetype');
}
@font-face {
    font-family: 'ZarBold';
    src: url('../fonts/Zar_Bold.ttf') format('truetype');
}
.profile{
        width: 70px;
        margin-top:69px;
        /*float: left;*/
}
.barcode{
        margin-top: 40%;
        float: right;
        padding-right:55px;
         Fix print card styles and html
}
.detail{
    margin-left: 40px;
}
.container{
    direction: rtl;
    padding-right: 80px;
    float: right;
    width:250px;
}
body{
        font-family: ZarBold;
        font-size: 14px;
        margin-top: 0;
        width: 100%;
                margin-left: 0px;
}
.forth-row{
        margin-top: 16px;
}
.img-section{
        float: left;
}
@media print{
        .container{
                direction: rtl;
                padding-right: 60px;
                float: right;
                margin-top: -80px;
        }       
}
/*
@media print {
        body{
                font-family: Zar;
                font-size: 12px;
                margin-top: 0px;
                margin-left: 0px;
                width: 100%;
        }
        .img-section{
                float:right;
        }
        .profile{
                max-width: 23%;
                margin-top: 55px;
        }
        .barcode{
            margin-top: : 20%;
            float: right;
            padding-right:20px;
             Fix print card styles and html
        }
        .name{

        }
        .detail{
                margin-left: 8px;
        }
        .third-row{

        }
        .container{
            direction: rtl;
            padding-right: 60px;
        }
} */
.title {
        font-family: ZarBold;
    }

