@font-face {
  font-family: Vazir;
  src: url(../fonts/vazir/Vazir.ttf);
}
@font-face {
  font-family: irsans;
  src: url(../fonts/iransans/IRANSans.ttf);
}
body{
    direction: rtl;
    text-align: right;
    font-size: 16px;
    width: 100%;
    background: #fff;
    font-family: irsans, Vazir !important;
}
nav{
    background: #f5f5f5 !important;
}
.header-brand{
    max-height: 80px;
    max-width: 80px;
}
.content{
    width: 98%;
    padding: 2em 1em 1em 1em;
    max-width: 1500px;
    margin: 0 auto;
}
a{
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: #333;
}
.card{
    margin-bottom: 1em;
    background: #f9f9f9;
}
.card-title{
    color: #FF9800;
}
.card:hover {
    border: 1px solid #FF9800;
}
.card-text p{
    margin-bottom: 0.5rem;
}
.card-warning{
    background: #FF9800;
}
.card-danger{
    background:tomato;
}
.card-warning .card-title, .card-danger .card-title{
    color: #fff;
}
.group .card, .group .card-body{
    padding: 0;
}
.group .card-title{
    padding: 1em 1em 0 1em;
}
.group .card-text{
    padding: 1em;
}
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.btn-purple {
    color: #fff;
    background-color: #430043;
    border-color: #9A679A;
}
.btn-purple:hover {
    color: white;
    background-color: #2E092E;
}
.btn-hospital-green {
    color: #fff;
    background-color: #4ed28e;
}
.btn-hospital-green:hover {
    color: #fff;
    background-color: #369363;
}