{% extends 'panel/panel_base.html' %}
{% load staticfiles %}
{% block title %}آمار لحظه‌ای تخصیص‌ها{% endblock %}
{% block content %}
<div class="row groups" id="groups">
    <h3>لطفا منتظر بمانید...</h3>
</div>
{% endblock %}
{% block js %}
<script>
    var url;
    url = "http://192.168.110.110/panel/allocations-live/";
    //url = "sample.json"; //just for test
    var ajax_call = function(){
        $.ajax(url, {
            success: function(response){
                //console.log(response);
                updateGroups(response);
            }
        })
    };

    var interval = 1000 * 60 * 0.1; // where X is your every X minutes => x=0.1  6s
    setInterval(ajax_call, interval);


    //update groups
    function updateGroups(response){
        $('#groups').empty();// remove body data

        // change response obj
        for (var i = 0; i < response.length; i++) {
            if(response[i].get_stats.length > 0){
                for (var j = 0; j < response[i].get_stats.length; j++) {
                checkAndAdd(response[i].get_stats,1);
                checkAndAdd(response[i].get_stats,2);
                checkAndAdd(response[i].get_stats,3);
                }
            }
        }

        // new response
        for (var i = 0; i < response.length; i++) {
            var group = "<div class='col-md-3 col-sm-6 col-12 group'><div class='card card-body'>";

            if(response[i].get_stats.length > 0){
                for(var j=0; j<response[i].get_stats.length; j++){
                    if((response[i].get_stats[j].status == 1) && (response[i].get_stats[j].count< 10)){
                        $(this).parent().addClass('card-danger');
                        group +="<div class='card-danger'>";
                    }
                    else if((response[i].get_stats[j].status == 1) && (response[i].get_stats[j].count<15 && response[i].get_stats[j].count>10)){
                        $(this).parent().addClass('card-warning');
                        group +="<div class='card-warning'>";
                    }
                }
            }
            group +="<h5 class='card-title'>"+response[i].title + "</h5>";
            group += "<div class='card-text'>";

            if(response[i].get_stats.length > 0){
                for(var j=0; j<response[i].get_stats.length; j++){
                    switch(response[i].get_stats[j].status){
                        case 1: group +="<p><span>ظرفیت خالی</span> :<span>"+ response[i].get_stats[j].count +"</span></p>";
                            break;
                        case 2: group +="<p><span>ظرفیت پر شده</span> :<span>"+ response[i].get_stats[j].count +"</span></p>";
                            break;
                        case 3: group +="<p><span>ظرفیت معلق شده</span> :<span>"+ response[i].get_stats[j].count +"</span></p>";
                            break;
                    }
                }
            }
            group += "</div>";
            var url = '/admin/allocation/allocation/' + response[i].id + '/change/';
            group += '<a class="btn btn-info" href="'+ url +'" target=_blank>افزایش ظرفیت</a>';
            group +="</div></div>";
            $('#groups').append(group);
        }
    }
    function checkAndAdd(arr, st) {
    //var id = arr.length + 1;
    var found = arr.some(function (el) {
        return el.status === st;
    });
    if (!found) { arr.push({ count: 0, status: st }); }
    }
</script>
{% endblock %}
