{% extends 'panel/panel_base.html' %}
{% load staticfiles %}
{% block title %}چاپ‌کارت{% endblock %}
{% block content %}
<div class="col-lg-12">
    <div class="row">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" name="search"
                       id="search">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        onclick="window.open(
                            document.getElementById('search').value);">چاپ
                </button>
                </span>
            </div>
        </form>
    </div>
</div>
<br>
<div class="col-lg-12">
    <div class="row">
        <table class="table table-light text-center table-bordered">
            <thead>
                <tr>
                    <th scope="col">نام مهمان</th>
                    <th scope="col">شماره پاسپورت</th>
                    <th scope="col">چاپ</th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.fullname }}</td>
                    <td>{{ object.passport_code }}</td>
                    <td>
                        <a target="_blank" class="btn btn-info" role="button" href="{% url 'card_detail' passport_code=object.passport_code %}">چاپ</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
