{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'panel/styles/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'panel/styles/main.css' %}"/>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container-wrapper">
            <nav class="navbar navbar-expand-lg border-bottom">
                <a class="navbar-brand" href="{% url 'panel' %}"><img src="{% static 'panel/images/logo.png' %}" class='header-brand' alt="پنل موکب"></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                    </ul>
                </div>
            </nav>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <script src="{% static 'panel/scripts/jquery.min.js' %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>

