{% extends 'panel/panel_base.html' %}
{% load staticfiles %}
{% block title %}پنل موکب{% endblock %}
{% block content %}
<div class="url row">
    <div class="col-md-3 col-sm-6 col-12 pb-3">
        <a class="btn btn-primary btn-block" href="{% url 'admin:guest_guest_changelist' %}" target=_blank>لیست کل مهمان‌ها</a>
    </div>

    <div class="col-md-3 col-sm-6 col-12 pb-3">
        <a class="btn btn-success btn-block" href="{% url 'tents_list' %}" target=_blank>وضعیت چادرها</a>
    </div>

    <div class="col-md-3 col-sm-6 col-12 pb-3">
        <a class="btn btn-warning btn-block" href="{% url 'card_list' %}" target=_blank>کارت‌های چاپ نشده</a>
    </div>

    <div class="col-md-3 col-sm-6 col-12 pb-3">
        <a class="btn btn-danger btn-block" href="{% url 'allocations' %}" target=_blank >آمار لحظه‌ای تخصیص‌ها</a>
    </div>

    <div class="col-md-3 col-sm-6 col-12 pb-3">
        <a class="btn btn-info btn-block" href="{% url 'admin:panel_whitelistguest_changelist' %}" target=_blank>لیست سفید مهمان‌ها</a>
    </div>

    <div class="col-md-3 col-sm-6 col-12 pb-3">
        <a class="btn btn-secondary btn-block" href="{% url 'home' %}" target=_blank>ثبت زائر</a>
    </div>

    <div class="col-md-3 col-sm-6 col-12 pb-3">
        <a class="btn btn-purple btn-block" href="{% url 'swap_bed' %}" target=_blank>جابه‌جایی تخت‌ها</a>
    </div>

    <div class="col-md-3 col-sm-6 col-12 pb-3">
        <a class="btn btn-hospital-green btn-block" href="{% url 'clinic' %}" target=_blank>مرکز پزشکی</a>
    </div>

</div>
{% endblock %}
