{% extends 'panel/panel_base.html' %}
{% load staticfiles %}

{% block title %}جابه‌جایی تخت‌ها{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="row">
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">{{ message }}</div>
    </div>
    {% endfor %}
{% endif %}
<div class="row">
    <center>
        <h3>برای جابجایی تخت‌های دو مهمان، لطفا ID تخت‌های آن‌ها را در فیلد‌های زیر وارد کنید</h3>
    </center>
</div>
<br>
<form  class="row" method="POST" id="getDataForm">
    {% csrf_token %}
    <div class="form-group col-md-5">
        <input name="source" type="text" id="source"  pattern="([a-zA-z]{1})([0-9]{4})" class="form-control" placeholder="آیدی تخت مبدا" onChange="getSourceData()" required>
    </div>

    <div class="form-group col-md-5">
       <input name="destination" type="text" id="destination" pattern="([a-zA-z]{1})([0-9]{4})" class="form-control" placeholder="آیدی تخت مقصد" onChange="getDestinationData()" required>
    </div>

    <div class="form-group col-md-2" id="submit">
       <button class="btn btn-info" type="submit" style="display:none">اعمال تغییرات</button>
    </div>
</form>

<div class="row">
    <div id="user_source" class="col-md-5 col-12"></div>
    <div id="user_des" class="col-md-5 col-12"></div>
</div>
{% endblock %}


{% block js %}
<script>
url = "http://172.16.0.88:8080/api/get_bed/";

var source;
var destination;
var sourse_guest = false;

function getSourceData(){
    source = document.getElementById('source').value;
    $.ajax({
        type: 'GET',
        url: url+source+'/',
        success: function(response){
            if(response.guest != null){
                sourse_guest = true;
            }
            else{
                sourse_guest = false;
            }
            showResult(response, "user_source");
            check();
        },
        error: function(){
            sourse_guest = false;
            $('#user_source').empty();
            $('#user_source').append("<h5>فردی با این شناسه وجود ندارد</h5>");
        }

    });

}
function getDestinationData(){
    destination = document.getElementById('destination').value;
    $.ajax({
        type: 'GET',
        url: url+destination+'/',
        success: function(response){
            showResult(response, "user_des");
            check();
        },
        error: function(){
            $('#user_des').empty();
            $('#user_des').append("<h5>فردی با این شناسه وجود ندارد</h5>");
        }

    });
}

function showResult(result, id){
    $('#'+id).empty();
    var guest = result.guest;
    var tem = "<div>";
    if(guest != null){
        tem += "<h5>"+ guest.last_name + ' ' +guest.first_name + "</h5>";
    }
    else{
        tem += "<h5>فردی با این شناسه وجود ندارد</h5>";
    }
    tem +="</div>";
    $('#'+id).append(tem);
}

function check(){
    $('#submit').empty();
    if(source!= "" && destination != "" && source!= undefined && destination != undefined ){
        if(sourse_guest == true){
            $('#submit').append('<button class="btn btn-info" type="submit" id="get_data">اعمال تغییرات</button>');
        }
    }
}
;

</script>
{% endblock %}