{% extends 'panel/panel_base.html' %}
{% load staticfiles %}
{% block title %}گزارش چادرها{% endblock %}
{% block content %}
<div id="tents" class="tents row">
    <!-- start tent -->
    {% for tent in tents %}
    <div class="col-md-4 col-sm-6 col-12">
        <div class="card">
            <a href="{% url 'tents_detail' tent.id%}">
                <div class="card-body">
                    <h5 class="card-title">چادر {{ tent.title }}</h5>
                    <div class="card-text">
                        <p>
                            <span>ظرفیت کل</span> :
                            <span>{{ tent.capacity }}</span>
                        </p>
                        <p>
                            <span>تعداد تخت پر</span> :
                            <span>{{ tent.unavailable_beds_count }}</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}