{% extends 'panel/panel_base.html' %}
{% load staticfiles %}
{% block title %}گزارش تخت‌ها{% endblock %}
{% block content %}
<div class="pb-3 mb-3">
    <button class="btn btn-danger btn-sm float-left mr-auto" data-toggle="modal" data-target="#discharge">تخلیه فوری</button>
</div>

<div class="modal fade" id="discharge" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تخلیه فوری</h5>
                <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            آیا مطمئن هستید ؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger ml-2" onclick="discharge()">بله</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">خیر</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->

<div class="tent">
    {% with tent=beds.first.tent %}
    <h4 class="card-title">{{ tent.title }}</h4>
    <div class="card-text">
        <p>
            <span>نوع</span> :
            <span>{{ tent.get_tent_type_display }}</span>
        </p>
        <p>
            <span>ظرفیت</span> :
            <span>{{ tent.capacity }}</span>
        </p>
    </div>
    {% endwith %}

    <table class="table table-light text-center table-bordered">
        <thead>
            <tr>
                <th scope="col">شماره تخت</th>
                <th scope="col">نام مهمان</th>
                <th scope="col">شماره پاسپورت</th>
            </tr>
        </thead>
        <tbody>
        {% for bed in beds %}
            <tr>
                <td>{{ bed.title }}</td>
                {% if bed.guest %}
                <td>{{ bed.guest.first_name }} {{ bed.guest.last_name }}</td>
                <td>{{ bed.guest.passport_code }}</td>
                {% else %}
                <td>خالی</td>
                <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'panel/scripts/bootstrap.min.js' %}"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function discharge(){
    $.ajax({
       url: '{% url 'tent_force_settlement_view' tent_id %}',
       type: 'DELETE',
       beforeSend: function(xhr) {
           xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
       },
       success: function(result) {
           $('#discharge').modal('hide');//close modal
       }
    });
}
</script>
{% endblock %}