{% extends 'panel/panel_base.html' %}
{% load staticfiles %}
{% block title %} مرکز درمانی{% endblock %}
{% block content %}
<div class="url row">

	<div class="col-md-4 col-sm-6 col-12 pb-4">
		<a class="btn btn-info btn-block" href="{% url 'drugstore' %}" target=_blank>لیست موجودی داروخانه</a>
	</div>
	<div class="col-md-4 col-sm-6 col-12 pb-4">
		<a class="btn btn-hospital-green btn-block" href="{% url 'examinations' %}" target=_blank>لیست معاینات پزشکی</a>
	</div>
	<div class="col-md-4 col-sm-6 col-12 pb-4">
		<a class="btn btn-purple btn-block" href="/admin/hospital/examination/add/" target=_blank>معاینه جدید</a>
	</div>
</div>
{% endblock %}