{% extends 'panel/panel_base.html' %}
{% load convert_data %}
{% load staticfiles %}
{% block title %}لیست دارو‌های موجود{% endblock %}
{% block content %}
<div class="col-lg-12">
    <div class="row">
        <table class="table table-light text-center table-bordered">
            <thead>
                <tr>
                    <th scope="col">نام دارو</th>
                    <th scope="col">توضیحات</th>
                    <th scope="col">تعداد باقی‌مانده</th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.description }}</td>
	                <td>{{ object.quantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
