{% extends 'panel/panel_base.html' %}
{% load convert_data %}
{% load staticfiles %}
{% block title %}لیست همه معاینات{% endblock %}
{% block content %}
<div class="col-lg-12">
    <div class="row">
        <a class="btn btn-purple" href="/admin/hospital/examination/add/">ثبت معاینه جدید</a>
    </div>
</div>
<br>
<div class="col-lg-12">
    <div class="row">
        <table class="table table-light text-center table-bordered">
            <thead>
                <tr>
                    <th scope="col">نام مهمان</th>
                    <th scope="col">تشخیص</th>
                    <th scope="col">دارو‌های تجویز شده</th>
                    <th scope="col">تاریخ مراجعه</th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.guest.fullname }}</td>
                    <td>{{ object.diagnosis }}</td>
                    <td>{% for drug in object.examinationdrug_set.all %}{{ drug.drug.name }}({{ drug.quantity}}), {% endfor %}</td>
	                <td>{% convert object.created_time %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
